.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .bg-dark {
    background-color: #160b0bd8 !important;
  }

  #firstSlide .carousel-caption {
      background-color: #160b0b8e;
      max-width: 500px;
      padding: 50px;
      margin-bottom: 20vh;
  }

  #secondSlide {
      background-position: top;
  }

  #secondSlide .carousel-caption {
      background-color: #160b0bb0;
      padding: 50px;
      max-width: 500px;
      margin-bottom: 35vh;
  }

  #uslugi {
      background-color: #f0f0f0;
      /* padding-top: 100px; */
  }

  #uslugi > div {
    max-width: 1600px;
  }

  .card i {
      font-size: 48px;
  }

  .mt-200 {
      margin-top: 200;
  }